.btn {
  padding: 1rem 0.8 rem;
  font-size: 20px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  box-shadow: 1px -3px 30px -5px rgb(0, 0, 0);
  transition: all 0.4s ease;
}

.btn.add {
  background-color: rgb(125, 73, 248);
}

.btn.add:active {
  background-color: rgb(110, 47, 255);
}

.btn.remove {
  background-color: rgb(187, 114, 114);
}

.btn.remove:active {
  background-color: rgb(189, 86, 86);
}

.btn.check {
  background-color: green;
  width: 150px;
  color: aliceblue;
  font-size: 15px;
}

.btn.check:active {
  background-color: rgb(2, 81, 2);
}
